{% extends 'activities/layout.html' %}

{% block content %}
    <h1>Aktivitātes</h1>
    <ul>
        {% for activitie in activities %}
            <h2>{{ activitie.title }}</h2>
            <li>{{ activitie.date }}</li>
            <li>{{ activitie.type }}</li>
            <li>{{ activitie.distance }}</li>
            <li>{{ activitie.time }}</li>
            <li>{{ activitie.pace}}</li>
            <li>{{ activitie.heartrate }}</li>
            <li>{{ activitie.comment }}</li>
        {% endfor %}
    </ul>
{% endblock %}